.out{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all{
  display: none;
}

.App {
  text-align: center;
  border: 1px solid white;
  background-color: #0096ff;
  border-radius: 5px;
  max-width: 313px;
  margin-bottom: 10px;
}
h1{
  color: white;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
form{
  margin: 15px;
}
.inDiv{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}
.inDiv input{
  width: 220px;
  margin-bottom: 25px;
  font-size: 17px;
  border-radius: 5px;
  text-align: center;
}
button{
  border:1px solid black;
  font-weight: bold;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 15px;
}